<script src="../node_modules/art-template/lib/template-web.js"></script>{{extend './layout.html'}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/pro-index.css">
{{/block}}

{{block 'side'}}
<li class="checked active"><a href="/school-index">已注册学生信息<span class="sr-only">(current)</span></a></li>
<li><a href="/sch_unchecked">未审核的学生</a></li>
<li><a href="/select_majors">专业库</a></li>
<li><a href="/add_stu">录入学生</a></li>
{{/block}}

{{block 'main'}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">学生信息查询</h1>
  <div class="container">
    <form class="form-horizontal">
      <div class="col-sm-12 col-md-3">
        专业名称
        <select class="form-control" id="mtype" name="mtype">
          <option value="0">-- 请选择 --</option>
          {{each mtype}}
          <option value="{{$value}}">{{$value}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-12 col-md-3">
        专业名称
        <select class="form-control" id="mname" name="mtype">
          <option value="0">-- 请选择 --</option>
          {{each mname}}
          <option value="{{$value}}">{{$value}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-12 col-md-3">
        入学年
        <select class="form-control" id="entrance-time" name="entrance_time">
          <option value="0">-- 请选择 --</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-3">
        <button type="button" class="btn btn-primary sch-query">查询</button>
        <p class="result">已查询到 0 人</p>
      </div>
    </form>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr class="active">
      <th>学号</th>
      <th>姓名</th>
      <th>性别</th>
      <th>身份证号</th>
      <th>学校</th>
      <th>专业</th>
      <th>年级</th>
      <th>入学时间</th>
    </tr>
    </thead>
    <tbody class="tbody">
    <!--		{{each students}}-->
    <!--		<tr>-->
    <!--			<td><a class="no" data-toggle="modal" data-target="#stu-info" title="点击查看学生个人信息">{{$value.no}}</a></td>-->
    <!--			<td>{{$value.name}}</td>-->
    <!--			{{if $value.gender === 0}}-->
    <!--			<td>男</td>-->
    <!--			{{else if $value.gender === 1}}-->
    <!--			<td>女</td>-->
    <!--			{{/if}}-->
    <!--			<td>{{$value.idcard}}</td>-->
    <!--			<td>{{$value.school}}</td>-->
    <!--			<td>{{$value.major_name}}</td>-->
    <!--			<td>{{$value.grade}}</td>-->
    <!--			<td>{{entrance_time[$index]}}</td>-->
    <!--			{{if $value.status === 1}}-->
    <!--			<td class="checking">审核中</td>-->
    <!--			{{/if}}-->
    <!--			{{if $value.status === 2}}-->
    <!--			<td class="checking">已注册</td>-->
    <!--			{{/if}}-->
    <!--		</tr>-->
    <!--		{{/each}}-->
    </tbody>
  </table>
</div>
{{/block}}

{{block 'scripts'}}
<script src="/public/js/school-index.js"></script>
{{/block}}